<div class="d-flex justify-content-evenly align-items-center m-sm-5 my-5 mx-1">
    <label for="">Primer Número:</label>
    <input type="number" class="form-control w-25">
    <label for="">Segundo Número:</label>
    <input type="number" class="form-control w-25">
</div>
<div class="row d-flex justify-content-evenly m-5">
    <div class="card col-9">
        <div class="card-header">
          Historial
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
        </ul>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-secondary">Borrar Historial</button>
    </div>
</div>